body {
    margin: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    position: sticky;
    top: 0;
    z-index: 50;
}

.navegador .desplegable, #menu {
    display: none;
}

.navegador {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#menu:checked ~ .desplegable {
    display: flex;
}

#burguer {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    user-select: none;
    background-image: url("../img/menu.png");
    background-size: 100%;
}

.desplegable {
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
    /* NO ME FUNCIONA ESTA TRANSICION CUANDO CLICKEO SOBRE MENU, Y MODIFICO EL DISPLAY */
    transition: 5s; 
}

.desplegable a {
    text-decoration: none;
    color: white;
}

.parallax {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.imgParallax {
    width: 100%;
    height: 590px;
    position: sticky;
}

.cieloAtard, .desiertoAtard, .actoresAtard {
    width: 100%;
    height: 590px;
    background-size: 100%;
    position: absolute;
}

.cieloAtard {
    background-image: url("../img/cieloatard.png");
    background-attachment: fixed;
}

.desiertoAtard {
    background-image: url("../img/desiertoatard.png");
    background-attachment: fixed;
}

.actoresAtard {
    background-image: url("../img/actoresatard.png");
}

h4 {
    color: white;
    position: relative;
}

.hero {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondoHero.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.pasto, .camioneta, .cielo, .humo1, .humo2, .humo3, .logo {
    width: 1080px;
    height: 300px;
    background-size: 100%;
    position: absolute;
}

@keyframes moverHero {	
    from {
        background-position: 0px;
    }
    to {
        background-position: 1080px;
    }	
}

@keyframes conducir {
    from {
        background-position-y: 1px;
    }
    to {
        background-position-y: 3px;
    }	
}

@keyframes opacidadHumo {
    0% {	
        opacity: 0;	
    }	
    100% {	
        opacity: 1;	
    }
}

.pasto {
    background-image: url("../img/pasto.png");
}

.camioneta {
    background-image: url("../img/camioneta.png");
    animation: moverHero 10s linear infinite, conducir 1s ease-out infinite;
    /* Pongo la sombra en la camioneta, para evitar que la sombra se mueva */
    box-shadow: 0px 0px 37px 6px rgba(0,0,0,0.84);
}

.cielo {
    background-image: url("../img/cielo.png");
    animation: moverHero 15s linear infinite;
}

.humo1 {
    background-image: url("../img/humo1.png");
    animation: moverHero 10s linear infinite;
}

.humo2 {
    background-image: url("../img/humo2.png");
    animation: opacidadHumo 2s ease-in infinite, moverHero 10s linear infinite;	
}

.humo3 {
    background-image: url("../img/humo3.png");
    animation: opacidadHumo 3s ease-out infinite, moverHero 10s linear infinite;
}

.logo {
    background-image: url("../img/logo.png");
    /* probar con position: fixed para evitar q influya en los otros elementos */
    perspective: 40px;
    transform-style: preserve-3d;
}

#grilla {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform-style: preserve-3d;
}

.personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    background: rgb(48, 48, 48);
    background: linear-gradient(to bottom, rgb(25, 26, 24) 0%, rgba(5,9,1,1) 100%);
    border-radius: 30px;
    transform-style: preserve-3d;
}

.personaje img {
    transform-style: preserve-3d;
    transform: translateZ(80px);
}

.personaje p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    transform: translateZ(60px);
}

