.escena {	
    width: 200px;	
    height: 400px;	
}	

#arboles {	
    width: 100px;	
    height: 100px;	
    background-image: url("../img/arboles.png");	
}	

#mar {	
    background-image: url("../img/mar.png");	
}	

#pasto {	
    background-image: url("../img/pasto.png");	
} 