#modif {
    color: white;
    width: 200px;
    height: 200px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    transition: 2s ease-out; 
}

#modif:hover {
    background-color: rgb(99, 99, 99);
    transition: 3s linear; 
}

#modif:focus {
    width: 330px;
    height: 330px;
    transition: 2s ease-in; 
}

#modif:active {
    font-size: 5px;
    width: 10px;
    height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s ease-in; 
}