body {
    width: 100%;
    margin: 0;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

footer {
    width: 100%;
}

footer picture {
    padding: 2%;
}

p, h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
}

.buttonLog {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.formLog {
    height: 0px;
    width: 200px;
    margin-top: 0px;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    transition: 3s;
}

.buttonForm {
    font-family: 'Poppins', sans-serif;
    margin: 10%;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.colorVerde  {
    color: #BDFF00;
}

.colorGris  {
    color: #878787;
}

.colorBlanco {
    color: #FFFFFF;
}

.backVerde {
    background-color: #BDFF00;
}

.backGris {
    background-color: #878787;
}

.backBlanco {
    background-color: #FFFFFF;
}

.displayVert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayHoriz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Mobile */

@media (max-width: 411px) {

    header {
        padding: 8%;
    }

    footer .displayHoriz {
        width: 40%;
    }

    svg {
        margin: 10%;
    }
    .displayHoriz img {
        padding: 5px;
    }

}

/* Desktop */

@media (min-width: 1300px) {

}