header {
    width: 100%;
    border-bottom: #ec7944 solid 10px;
    font-family: 'Pacifico', cursive;
    padding-left: 5%;
    color: #ffffff;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(75, 75, 75);
    box-sizing: border-box;
}

.getImage, .clean, .filtroBasic button, .filtroComplex button {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ec7944;
    border-radius: 15%;
    border: solid 5px #e66d35;
    margin-bottom: 5%;
}

.originalImage {
    color: #242424;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #bbdf1f;
    border-radius: 15%;
    border: solid 5px #bbdf1f;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    color:#ec7944;
}

h3 {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    color:#ec7944;
}

.herramienta, .filtroBasic, .filtroComplex {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    color:rgb(75, 75, 75);  
}

.pinceles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

picture {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:rgb(255, 255, 255);
    padding: 3%; 
}

#download {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(75, 75, 75);
    margin: 2%;
}

#download:hover {
    color:#5A61CC;
}

footer {
    width: 100%;
    border-top: #ec7944 solid 10px;
    font-family: 'Kumbh Sans', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(75, 75, 75);
    box-sizing: border-box;
}