@charset "UTF-8";
.str0 {stroke:black;stroke-width:2.3622}
.fil1 {fill:none}
.fil0 {fill:#353535}
.fil3 {fill:#353535}
.fil9 {fill:#878787}
.fil6 {fill:#BDFF00}
.fil10 {fill:#F44336}
.fil11 {fill:white}
.fil7 {fill:white}
.fil2 {fill:black;fill-rule:nonzero}
.fil4 {fill:#BDFF00;fill-rule:nonzero}
.fil13 {fill:#BDFF00;fill-rule:nonzero}
.fil8 {fill:#F44336;fill-rule:nonzero}
.fil5 {fill:white;fill-rule:nonzero}
.fil12 {fill:white;fill-rule:nonzero;fill-opacity:0.560784}
